@use 'base'

header
    padding: 1.5rem 6rem 0 6rem
    background-color: base.$black
    color: base.$white
    position: sticky
    top: 0
    left: 0
    z-index: 3
    
    @media (min-width: 600px) and (max-width: 949px)
        padding: 1.5rem 2rem 0 2rem
    @media (max-width: 599px)
        padding: 1.5rem 1.5rem 0 1.5rem

    div
        padding-bottom: 2rem
        border-bottom: 0.5px solid base.$off-white

    div, ul
        display: flex
        justify-content: space-between
        align-items: center

        @media (min-width: 500px) and (max-width: 949px)
            justify-content: normal
            position: relative

            .hamburger
                padding-right: 2rem
                height: 1.25rem
            
            .cart
                position: absolute
                right: 2rem

    svg
        height: 1.5rem
        width: auto
        display: flex
        flex-direction: column
        justify-content: center
        
    a
        color: base.$white
        font-weight: 700
        font-size: 1rem
        margin-right: 1.5rem

        &:hover, &:focus
            color: base.$orange

    .categories
        max-width: 100%
        position: fixed
        top: 5rem
        right: 0
        left: 0
        background-color: base.$white

        @media (max-width: 599px)
            display: flex
            flex-direction: column
            padding: 1.5rem

        div.category
            padding: 10vw 2rem 2rem 2rem

            @media (max-width: 599px)
                padding-top: 16vw
        
        img
            bottom: 4.5rem

        h3
            padding-bottom: 0.75rem
            font-size: 1rem
            color: base.$black

        div.link
            padding: 0
        
        a
            margin: 0
            padding-right: 0.5rem
            font-weight: 300
            font-size: 0.9rem
            color: base.$lite-black

            &:hover, &:focus
                color: base.$orange
                text-decoration: none

    .backdrop
        z-index: 1

.categories
    padding: 2rem 6rem 
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 1.5rem

    @media (min-width: 500px) and (max-width: 949px)
        padding: 2rem 2rem

    @media (max-width: 599px)
        display: flex
        flex-direction: column
        margin-top: 3rem
        padding: 0 1.5rem

    div.category
        margin-top: 10vw
        padding: 10vw 0 1.5rem 0
        border-radius: 0.5rem
        background-color: base.$grey
        display: flex
        flex-direction: column
        align-items: center
        position: relative

        @media (max-width: 599px)
            margin-top: 10vw
            padding: 20vw 0 2rem 0

    div.link
        display: flex
        align-items: center

    img
        width: 20vw
        height: auto
        position: absolute
        bottom: 5rem

        @media (max-width: 599px)
            width: 30vw
            bottom: 6rem
    
    h3
        font-size: 1.5rem
        padding-bottom: 1rem

    a
        color: base.$black
        font-size: 1rem
        padding-right: 0.5rem

        &:hover, &:focus
            color: base.$orange
            text-decoration: none

    svg
        height: 0.7rem

.blurb
    padding: 2rem 6rem 4rem 6rem
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 1.5rem

    @media (min-width: 500px) and (max-width: 949px)
        display: flex
        flex-direction: column
        margin: 4rem 0
        padding: 0 2rem

    @media (max-width: 499px)
        display: flex
        flex-direction: column
        padding: 5rem 1.5rem

        picture
            order: 1
        .blurb-text
            order: 2
            text-align: center
        .blurb-text p
            line-height: 1.5rem

    .blurb-text
        width: 90%
        display: flex
        flex-direction: column
        justify-content: center

        @media (min-width: 500px) and (max-width: 949px)
            align-items: center
            padding: 2rem 3rem 0 3rem
            text-align: center
            order: 2

    h2 
        font-size: 3rem
        line-height: 3.8rem
        margin-bottom: 1rem

    .emphasis
        color: base.$orange

    img
        border-radius: 0.5rem
        width: 100%
        height: auto

        @media (min-width: 500px) and (max-width: 949px)
            order: 1

footer
    padding: 3rem 6rem
    background-color: base.$black
    color: base.$white
    display: grid
    grid-template: 1fr 1fr / 1fr 1fr

    @media (min-width: 600px) and (max-width: 949px)
        padding: 3rem 2rem
        grid-template-columns: 2fr 1fr
        grid-template-rows: auto
    @media (max-width: 599px)
        padding: 2rem 1.5rem
        display: flex
        flex-direction: column
        align-items: center

    .footer-desc
        grid-row: 1 / 3

        @media (min-width: 500px) and (max-width: 949px)
            grid-column: 1 / 3
            padding-bottom: 4rem
        @media (max-width: 599px)
            text-align: center
            padding-bottom: 2rem

    .logo
        padding-bottom: 2rem
        height: 2rem
        width: auto

    .copyright
        padding-top: 1rem

        @media (max-width: 599px)
            padding-top: 2rem

    ul, .social-media-links
        display: flex
        justify-content: flex-end

    @media (min-width: 600px) and (max-width: 949px)
        ul
            justify-content: flex-start
    @media (max-width: 599px)
        ul
            flex-direction: column
            align-items: center
            padding-bottom: 3rem

    a
        color: base.$white
        font-weight: 700
        font-size: 1rem
        padding-left: 2rem

        @media (min-width: 600px) and (max-width: 949px)
            padding-left: 0
            padding-right: 1rem
        @media (max-width: 599px)
            padding: 1rem 0 0 0
            font-size: 1.25rem

    .social-media-links svg
        height: 1.5rem
        padding-left: 1rem

        &:first-child
            padding-left: 0